//TODO: Enable Material 3 theming

//// This Sass mixin will define CSS variables that are used for styling Angular Material
//// components according to the Material 3 design spec.
//// Learn more about theming and how to use it for your application's
//// custom components at https://material.angular.dev/guide/theming
//@use '@angular/material' as mat;
//
//html {
//  height: 100%;
//  @include mat.theme((
//    color: (
//      primary: mat.$cyan-palette,
//      tertiary: mat.$orange-palette,
//    ),
//    typography: Roboto,
//    density: 0,
//  ));
//}
//
//body {
//  // Default the application to a light color theme. This can be changed to
//  // `dark` to enable the dark color theme, or to `light dark` to defer to the
//  // user's system settings.
//  color-scheme: light;
//
//  // Set a default background, font and text colors for the application using
//  // Angular Material's system-level CSS variables. Learn more about these
//  // variables at https://material.angular.dev/guide/system-variables
//  background-color: var(--mat-sys-surface);
//  color: var(--mat-sys-on-surface);
//  font: var(--mat-sys-body-medium);
//
//  // Reset the user agent margin.
//  margin: 0;
//  height: 100%;
//}

/* Importing @ngxpert/hot-toast base styles. */
@use '@ngxpert/hot-toast/styles';

/* Importing @ngxpert/hot-toast material theme. */
@use '@ngxpert/hot-toast/themes/material';

// TODO: REMOVE below Material 2 theming ////////////

@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-typographies();

//TODO: Create our own palette
$arma-web-gui-palette: ();

$arma-web-gui-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$arma-web-gui-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$arma-web-gui-warn: mat.m2-define-palette(mat.$m2-red-palette);

$arma-web-gui-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $arma-web-gui-primary,
      accent: $arma-web-gui-accent,
      warn: $arma-web-gui-warn
    )
  )
);


@include mat.all-component-themes($arma-web-gui-theme);

//html {
//  color-scheme: light dark;
//  @include mat.theme((
//    color: mat.$green-palette,
//    typography: Roboto,
//    density: 0
//  ));
//
//  @include mat.chips-overrides((
//    elevated-container-color: var(--aswg-icon-color),
//    selected-disabled-trailing-icon-color: var(--aswg-icon-color),
//    with-icon-disabled-icon-color: var(--aswg-icon-color),
//    with-icon-icon-color: var(--aswg-icon-color),
//    with-trailing-icon-trailing-icon-color: red,
//    with-trailing-icon-disabled-trailing-icon-color: var(--aswg-icon-color),
//    with-icon-selected-icon-color: var(--aswg-icon-color),
//    selected-trailing-icon-color: var(--aswg-icon-color)
//  ))
//}
