/* You can add global styles to this file, and also import other style files */

:root {
  --aswg-primary-color: #4634b7;
  --aswg-primary-color-hover: #37288f;
  --aswg-primary-text-color: #ffffff;
  --aswg-bg-primary-bg-color: #ffffff;
  --aswg-bg-primary-font-color: #000000;
  --aswg-input-bg-color: whitesmoke;
  --mat-icon-color: var(--aswg-primary-color) !important;
  --mat-stepper-header-edit-state-icon-background-color: var(--aswg-primary-color) !important;
  --mat-stepper-header-done-state-icon-background-color: var(--aswg-primary-color) !important;
  --mat-stepper-header-selected-state-icon-background-color: var(--aswg-primary-color) !important;
  --mat-toolbar-container-background-color: var(--aswg-primary-color) !important;
  --mat-datepicker-toggle-active-state-icon-color: var(--aswg-primary-color) !important;
  --mat-datepicker-calendar-date-selected-state-background-color: var(--aswg-primary-color) !important;
  --mat-badge-background-color: var(--aswg-primary-color) !important;
  --mdc-circular-progress-active-indicator-color: var(--aswg-primary-color) !important;
  --mdc-icon-button-icon-color: var(--aswg-primary-color) !important;
  --mat-mdc-button-persistent-ripple-color: var(--aswg-primary-color) !important;
  --mdc-outlined-button-label-text-color: var(--aswg-primary-color) !important;
  --mdc-protected-button-container-color: var(--aswg-primary-color) !important;
  --mdc-filled-button-container-color: var(--aswg-primary-color) !important;
  --mdc-text-button-label-text-color: var(--aswg-primary-color) !important;
  --mdc-checkbox-selected-focus-state-layer-color: var(--aswg-primary-color) !important;
  --mdc-checkbox-selected-hover-state-layer-color: var(--aswg-primary-color) !important;
  --mdc-checkbox-selected-pressed-state-layer-color: var(--aswg-primary-color) !important;
  --mdc-checkbox-selected-focus-icon-color: var(--aswg-primary-color) !important;
  --mdc-checkbox-selected-hover-icon-color: var(--aswg-primary-color) !important;
  --mdc-checkbox-selected-icon-color: var(--aswg-primary-color) !important;
  --mdc-checkbox-selected-pressed-icon-color: var(--aswg-primary-color) !important;
  --mat-tab-header-with-background-background-color: var(--aswg-primary-color) !important;
  --mat-tab-header-active-focus-label-text-color: var(--aswg-primary-color) !important;
  --mat-tab-header-active-hover-label-text-color: var(--aswg-primary-color) !important;
  --mat-tab-header-active-focus-indicator-color: var(--aswg-primary-color) !important;
  --mat-tab-header-active-hover-indicator-color: var(--aswg-primary-color) !important;
  --mat-tab-header-active-label-text-color: var(--aswg-primary-color) !important;
  --mat-tab-header-active-ripple-color: var(--aswg-primary-color) !important;
  --mat-tab-header-inactive-ripple-color: var(--aswg-primary-color) !important;
  --mdc-tab-indicator-active-indicator-color: var(--aswg-primary-color) !important;
  --mdc-radio-selected-focus-icon-color: var(--aswg-primary-color) !important;
  --mdc-radio-selected-hover-icon-color: var(--aswg-primary-color) !important;
  --mdc-radio-selected-icon-color: var(--aswg-primary-color) !important;
  --mdc-radio-selected-pressed-icon-color: var(--aswg-primary-color) !important;
  --mdc-slider-with-tick-marks-inactive-container-color: var(--aswg-primary-color) !important;
  --mat-mdc-slider-ripple-color: var(--aswg-primary-color) !important;
  --mdc-slider-handle-color: var(--aswg-primary-color) !important;
  --mdc-slider-focus-handle-color: var(--aswg-primary-color) !important;
  --mdc-slider-hover-handle-color: var(--aswg-primary-color) !important;
  --mdc-slider-active-track-color: var(--aswg-primary-color) !important;
  --mdc-slider-inactive-track-color: var(--aswg-primary-color) !important;
  --mat-radio-checked-ripple-color: var(--aswg-primary-color) !important;
  --mdc-chip-elevated-container-color: var(--aswg-primary-color) !important;
  --mdc-chip-elevated-disabled-container-color: var(--aswg-primary-color) !important;
  --mdc-outlined-text-field-caret-color: var(--aswg-primary-color) !important;
  --mdc-outlined-text-field-focus-outline-color: var(--aswg-primary-color) !important;
  --mdc-filled-text-field-caret-color: var(--aswg-primary-color) !important;
  --mdc-filled-text-field-focus-active-indicator-color: var(--aswg-primary-color) !important;
  --mdc-linear-progress-active-indicator-color: var(--aswg-primary-color) !important;
  --mat-option-selected-state-label-text-color: var(--aswg-primary-color) !important;
}

a {
  color: var(--aswg-primary-color);
}

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: var(--aswg-primary-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: var(--aswg-bg-primary-font-color) !important;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--aswg-primary-color) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  border-color: var(--aswg-primary-color) !important;
  background-color: var(--aswg-primary-color) !important;
}

::ng-deep .mdc-text-field .mdc-text-field__input {
  border-color: var(--aswg-primary-color) !important;
}

.mdc-text-field--filled .mdc-line-ripple:after {
  border-color: var(--aswg-primary-color) !important;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: var(--aswg-primary-color) !important;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--aswg-primary-color);
}

.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-container-color: var(--aswg-primary-color) !important;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: var(--aswg-primary-color, inherit) !important;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #444c56 !important;
}

.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: var(--aswg-primary-color) !important;
}

.mdc-list-item__primary-text {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-mdc-checkbox .mdc-form-field {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--aswg-input-bg-color) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-mdc-form-field .mdc-text-field__input {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-focused .mat-form-field-placeholder {
  color: var(--aswg-bg-primary-font-color) !important;
}

input::placeholder {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-mdc-select {
  color: var(--aswg-bg-primary-font-color) !important;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  background-color: var(--aswg-bg-primary-bg-color) !important;
}

.mat-mdc-select-arrow {
  color: var(--aswg-primary-color) !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true]) ~ .mdc-checkbox__background {
  border-color: #444c56 !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  background-color: var(--aswg-input-bg-color) !important;
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  background-color: var(--aswg-input-bg-color) !important;
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__title {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  color: var(--aswg-bg-primary-font-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--aswg-input-bg-color) !important;
}

.mat-mdc-button .mdc-button__ripple {
  background-color: var(--aswg-primary-color) !important;
}

.mat-mdc-button .mdc-button__label {
  color: white !important;
}

body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--aswg-bg-primary-bg-color);
  color: var(--aswg-bg-primary-font-color);
}


.mat-snack-bar-container {
  width: 40rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 102%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid;
  opacity: .25;
}

.float-end {
  float: right !important;
}

.page-content {
  padding: 10px;
}

.col-sm-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
}

.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: .5rem;
  --bs-navbar-color: rgba(0, 0, 0, .55);
  --bs-navbar-hover-color: rgba(0, 0, 0, .7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, .3);
  --bs-navbar-active-color: rgba(0, 0, 0, .9);
  --bs-navbar-brand-padding-y: .3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, .9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, .9);
  --bs-navbar-nav-link-padding-x: .5rem;
  --bs-navbar-toggler-padding-y: .25rem;
  --bs-navbar-toggler-padding-x: .75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, .1);
  --bs-navbar-toggler-border-radius: .375rem;
  --bs-navbar-toggler-focus-width: .25rem;
  --bs-navbar-toggler-transition: box-shadow .15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, .55);
  --bs-navbar-hover-color: rgba(255, 255, 255, .75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, .25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, .1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}
