/* You can add global styles to this file, and also import other style files */

:root {
  --aswg-primary-color: #4634b7;
}

a {
  color: var(--aswg-primary-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
