/* You can add global styles to this file, and also import other style files */

:root {
  --aswg-primary-color: #4634b7;
  --aswg-primary-color-hover: #37288f;
  --aswg-primary-text-color: #adbac7;
  --aswg-bg-primary-bg-color: #22272e;
  --aswg-input-bg-color: #2d333b;
  --aswg-chip-bg-color: #fefefe;
  --aswg-border-color: #444c56 !important;
  --mat-icon-color: var(--aswg-primary-color) !important;
  --mat-stepper-header-edit-state-icon-background-color: var(--aswg-primary-color) !important;
  --mat-stepper-header-done-state-icon-background-color: var(--aswg-primary-color) !important;
  --mat-stepper-header-selected-state-icon-background-color: var(--aswg-primary-color) !important;
  --mat-toolbar-container-background-color: var(--aswg-primary-color) !important;
  --mat-datepicker-toggle-active-state-icon-color: var(--aswg-primary-color) !important;
  --mat-datepicker-calendar-date-selected-state-background-color: var(
    --aswg-primary-color
  ) !important;
  --mat-badge-background-color: var(--aswg-primary-color) !important;
  --mat-progress-spinner-active-indicator-color: var(--aswg-primary-color) !important;
  --mat-icon-button-icon-color: var(--aswg-primary-color) !important;
  --mat-button-outlined-label-text-color: var(--aswg-primary-color) !important;
  --mat-button-protected-container-color: var(--aswg-primary-color) !important;
  --mat-button-filled-container-color: var(--aswg-primary-color) !important;
  --mat-button-text-label-text-color: var(--aswg-primary-color) !important;
  --mat-checkbox-selected-focus-state-layer-color: var(--aswg-primary-color) !important;
  --mat-checkbox-selected-hover-state-layer-color: var(--aswg-primary-color) !important;
  --mat-checkbox-selected-pressed-state-layer-color: var(--aswg-primary-color) !important;
  --mat-checkbox-selected-focus-icon-color: var(--aswg-primary-color) !important;
  --mat-checkbox-selected-hover-icon-color: var(--aswg-primary-color) !important;
  --mat-checkbox-selected-icon-color: var(--aswg-primary-color) !important;
  --mat-checkbox-selected-pressed-icon-color: var(--aswg-primary-color) !important;
  --mat-tab-with-background-background-color: var(--aswg-primary-color) !important;
  --mat-tab-active-focus-label-text-color: var(--aswg-primary-color) !important;
  --mat-tab-active-hover-label-text-color: var(--aswg-primary-color) !important;
  --mat-tab-active-focus-indicator-color: var(--aswg-primary-color) !important;
  --mat-tab-active-hover-indicator-color: var(--aswg-primary-color) !important;
  --mat-tab-active-label-text-color: var(--aswg-primary-color) !important;
  --mat-tab-active-ripple-color: var(--aswg-primary-color) !important;
  --mat-tab-inactive-ripple-color: var(--aswg-primary-color) !important;
  --mat-tab-active-indicator-color: var(--aswg-primary-color) !important;
  --mat-radio-selected-focus-icon-color: var(--aswg-primary-color) !important;
  --mat-radio-selected-hover-icon-color: var(--aswg-primary-color) !important;
  --mat-radio-selected-icon-color: var(--aswg-primary-color) !important;
  --mat-radio-selected-pressed-icon-color: var(--aswg-primary-color) !important;
  --mat-slider-with-tick-marks-inactive-container-color: var(--aswg-primary-color) !important;
  --mat-mdc-slider-ripple-color: var(--aswg-primary-color) !important;
  --mat-slider-handle-color: var(--aswg-primary-color) !important;
  --mat-slider-focus-handle-color: var(--aswg-primary-color) !important;
  --mat-slider-hover-handle-color: var(--aswg-primary-color) !important;
  --mat-slider-active-track-color: var(--aswg-primary-color) !important;
  --mat-slider-inactive-track-color: var(--aswg-primary-color) !important;
  --mat-radio-checked-ripple-color: var(--aswg-primary-color) !important;
  --mat-chip-elevated-container-color: var(--aswg-chip-bg-color) !important;
  --mat-chip-elevated-disabled-container-color: var(--aswg-chip-bg-color) !important;
  --mat-form-field-outlined-caret-color: var(--aswg-primary-color) !important;
  --mat-form-field-outlined-focus-outline-color: var(--aswg-primary-color) !important;
  --mat-form-field-filled-caret-color: var(--aswg-primary-color) !important;
  --mat-form-field-filled-focus-active-indicator-color: var(--aswg-primary-color) !important;
  --mat-progress-bar-active-indicator-color: var(--aswg-primary-color) !important;
  --mat-option-selected-state-label-text-color: var(--aswg-primary-color) !important;
  --mat-divider-color: #444c56 !important;
  --mat-divider-vertical-color: #444c56 !important;
  --mat-menu-item-label-text-color: var(--aswg-primary-color) !important;
  --mat-menu-container-color: var(--aswg-bg-primary-bg-color) !important;
  --mat-card-elevated-container-color: var(--aswg-input-bg-color) !important;
  --mat-form-field-filled-disabled-label-text-color: var(--aswg-primary-text-color) !important;
  --mat-select-panel-background-color: var(--aswg-bg-primary-bg-color) !important;
  --mat-paginator-container-background-color: var(--aswg-bg-primary-bg-color) !important;
  --mat-paginator-container-text-color: var(--aswg-primary-text-color) !important;
  --mat-paginator-enabled-icon-color: var(--aswg-primary-color) !important;
  --mat-autocomplete-background-color: var(--aswg-input-bg-color) !important;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--aswg-primary-color);
}

.mat-mdc-raised-button.mat-unthemed {
  --mat-button-protected-container-color: var(--aswg-primary-color) !important;
}

.mdc-text-field--disabled {
  background-color: #384149 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: var(--aswg-primary-text-color) !important;
}

.mat-primary
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: var(--aswg-primary-color) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  border-color: var(--aswg-primary-color) !important;
  background-color: var(--aswg-primary-color) !important;
}

.mat-mdc-standard-chip {
  --mat-chip-elevated-container-color: var(--aswg-chip-bg-color) !important;
}

::ng-deep .mdc-text-field .mdc-text-field__input {
  border-color: var(--aswg-primary-color) !important;
}

.mdc-text-field--filled .mdc-line-ripple:after {
  border-color: var(--aswg-primary-color) !important;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: var(--aswg-primary-color) !important;
}

.mat-mdc-progress-spinner {
  --mat-progress-spinner-active-indicator-color: var(--aswg-primary-color);
}

.mat-mdc-unelevated-button.mat-primary {
  --mat-button-filled-container-color: var(--aswg-primary-color) !important;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: var(--aswg-primary-color, inherit) !important;
}

.mat-mdc-outlined-button:not(:disabled) {
  border-color: var(--aswg-border-color, inherit) !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #444c56 !important;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  --mat-fab-container-color: var(--aswg-primary-color) !important;
  --mat-fab-small-container-color: var(--aswg-primary-color) !important;
}

.mdc-list-item__primary-text {
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-checkbox .mdc-form-field {
  color: var(--aswg-primary-text-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--aswg-input-bg-color) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-form-field .mdc-text-field__input {
  color: var(--aswg-primary-text-color) !important;
}

.mat-focused .mat-form-field-placeholder {
  color: var(--aswg-primary-text-color) !important;
}

input::placeholder {
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-select {
  color: var(--aswg-primary-text-color) !important;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  background-color: var(--aswg-bg-primary-bg-color) !important;
}

.mat-mdc-select-arrow {
  color: var(--aswg-primary-color) !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background {
  border-color: #444c56 !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  background-color: var(--aswg-input-bg-color) !important;
  color: var(--aswg-primary-text-color) !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  background-color: var(--aswg-input-bg-color) !important;
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__title {
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--aswg-input-bg-color) !important;
}

.mat-mdc-button .mdc-button__ripple {
  background-color: var(--aswg-primary-color) !important;
}

.mat-divider {
  border-top-color: var(--mat-divider-color) !important;
}

.mat-divider-vertical {
  border-right-color: var(--mat-divider-vertical-color) !important;
}

.mat-mdc-button .mdc-button__label {
  color: white !important;
}

.mat-mdc-dialog-actions {
  justify-content: center !important;
}

.mat-expansion-panel-header-title {
  color: var(--aswg-primary-text-color) !important;
}

.mat-expansion-panel-header-description {
  color: var(--aswg-primary-text-color) !important;
}

.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: var(--aswg-primary-text-color) !important;
  --mat-mdc-button-ripple-color: rgba(0, 0, 0, 0.1) !important;
}

.mat-mdc-progress-bar {
  --mat-progress-bar-active-indicator-color: var(--aswg-primary-color) !important;
  --mat-progress-bar-track-color: rgba(109, 109, 109, 0.25) !important;
}

.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--aswg-bg-primary-bg-color);
  color: var(--aswg-primary-text-color);
}

.mat-nack-bar-container {
  width: 40rem !important;
}

.col {
  flex: 1 0 0%;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border-top: 1px solid currentcolor;
  opacity: 0.25;
}

.float-end {
  float: right !important;
}

.page-content {
  padding: 10px;
}

.col-sm-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.pointer-events-none * {
  pointer-events: none;
}

.display-none {
  display: none;
}

.brightness-50 {
  filter: brightness(50%);
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(0, 0, 0, 0.55);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.aswg-menu-default {
  max-width: none !important;
}

@media (max-width: 800px) {
  .navbar-brand {
    width: 100%;
  }
}
