.snack-bar-header {
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
  font-size: large;
}

.file-upload-snackbar-header-label {
  color: white;
}

.snack-bar-close-button {
  top: 5px;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.cancel-upload-button {
  position: absolute;
  right: 0;
  cursor: pointer
}
