.workshop-list {
  display: flex;
  flex-direction: column;
}

.installed-mods-list {
  display: flex;
  flex-direction: column;
}

.workshop-list-item {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .container, .workshop-list {
    display: flex;
    flex-direction: column;
  }
}
