<div class="container">
  <h1>Workshop</h1>
  <div>
    <mat-form-field>
      <mat-label>Search workshop</mat-label>
      <input matInput [formControl]="searchBoxControl" (keydown)="onSearchBoxKeyDown($event)" />
    </mat-form-field>
  </div>
  <div class="workshop">
    <h2>Workshop mods</h2>
    <div class="workshop-list">
      @for (workshopMod of workshopMods(); track workshopMod) {
        <app-workshop-item
          [workshopMod]="workshopMod"
          [canInstall]="canInstall(workshopMod)"
          (modInstallDelete)="onModInstallDelete()"
          class="workshop-list-item"
        >
        </app-workshop-item>
      }
      <div>
        <button class="float-end" mat-flat-button color="primary" (click)="nextPage()">
          Next Page
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="installed-mods">
    <h2>Installed mods</h2>
    <div class="installed-mods-list">
      @for (installedWorkshopMod of installedWorkshopModsToShow; track installedWorkshopMod) {
        <app-workshop-item
          [workshopMod]="installedWorkshopMod"
          [canInstall]="false"
          (modInstallDelete)="onModInstallDelete()"
          class="workshop-list-item"
        >
        </app-workshop-item>
      }
      @if (installedWorkshopMods().length === 0) {
        <div>
          <span>No workshop items are installed. :(</span>
        </div>
      }
      @if (installedWorkshopMods().length > 0) {
        <div>
          <mat-paginator
            (page)="changePage($event)"
            [length]="totalInstalledMods()"
            [pageSize]="10"
            [pageSizeOptions]="[10, 20, 30, 40, 50, totalInstalledMods()]"
            aria-label="Select page"
          ></mat-paginator>
        </div>
      }
    </div>
  </div>
</div>
