.preset-item {
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 48px;
  color: var(--aswg-bg-primary-font-color);
  font-family: var(--mat-menu-item-label-text-font);
  line-height: var(--mat-menu-item-label-text-line-height);
  font-size: var(--mat-menu-item-label-text-size);
  letter-spacing: var(--mat-menu-item-label-text-tracking);
  font-weight: var(--mat-menu-item-label-text-weight);
}

.preset-item-name-button {
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--aswg-bg-primary-font-color);
  font-family: var(--mat-menu-item-label-text-font);
  line-height: var(--mat-menu-item-label-text-line-height);
  font-size: var(--mat-menu-item-label-text-size);
  letter-spacing: var(--mat-menu-item-label-text-tracking);
  font-weight: var(--mat-menu-item-label-text-weight);
}

.preset-item mat-divider {
  height: 48px;
}
