.preset-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: var(--mat-menu-item-leading-spacing);
  padding-right: var(--mat-menu-item-trailing-spacing);
  min-height: 48px;
  font: var(--aswg-type-menu-item);
}

.preset-item-name {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  word-break: break-word;
  color: var(--aswg-color-text-muted);
  font: var(--aswg-type-menu-item);
}

.preset-item-buttons {
  display: flex;
  margin: 0;
  padding: 0;
}

.preset-item-buttons button {
  margin: 0;
}

.preset-item mat-divider {
  height: 48px;
}
