<mat-card (dblclick)="doubleClick()" class="vote-cmd-list-item">
  <mat-card-content [formGroup]="form">
    <div class="">
      <form [formGroup]="form.controls.command" [matTooltip]="form.controls.editing.value ? 'Double-click to lock' : 'Double-click to edit'">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input (keydown.enter)="onEnter()" formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Allowed Pre Mission</mat-label>
          <mat-select formControlName="allowedPreMission">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Allowed Post Mission</mat-label>
          <mat-select formControlName="allowedPostMission">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Voting Threshold</mat-label>
          <input (keydown.enter)="onEnter()" formControlName="votingThreshold" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Percentage Side Voting Threshold</mat-label>
          <input (keydown.enter)="onEnter()" formControlName="percentageSideVotingThreshold" matInput />
        </mat-form-field>
      </form>
      @if (form.controls.editing.value) {
        <div class="text-center">
          <button mat-icon-button (click)="deleteClick()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
