<mat-card class="vote-cmd-list-item" (dblclick)="doubleClick()">
  <mat-card-content>
    @if (item.editing) {
      <div class="">
        <form matTooltip="Double-click to lock">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              matInput
              [(ngModel)]="item.command.name"
              [ngModelOptions]="{ standalone: true }"
              (keydown.enter)="onEnter()"
              />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Allowed Pre Mission</mat-label>
            <mat-select
              [(ngModel)]="item.command.allowedPreMission"
              [ngModelOptions]="{ standalone: true }"
              >
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Allowed Post Mission</mat-label>
            <mat-select
              [(ngModel)]="item.command.allowedPostMission"
              [ngModelOptions]="{ standalone: true }"
              >
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Voting Threshold</mat-label>
            <input
              matInput
              [(ngModel)]="item.command.votingThreshold"
              [ngModelOptions]="{ standalone: true }"
              (keydown.enter)="onEnter()"
              />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Percentage Side Voting Threshold</mat-label>
            <input
              matInput
              [(ngModel)]="item.command.percentageSideVotingThreshold"
              [ngModelOptions]="{ standalone: true }"
              (keydown.enter)="onEnter()"
              />
          </mat-form-field>
        </form>
      </div>
    } @else {
      <form matTooltip="Double-click to edit">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [value]="item.command.name" [disabled]="true" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Allowed Pre Mission</mat-label>
          <mat-select
            [(ngModel)]="item.command.allowedPreMission"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="true"
            >
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Allowed Post Mission</mat-label>
          <mat-select
            [(ngModel)]="item.command.allowedPostMission"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="true"
            >
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Voting Threshold</mat-label>
          <input matInput [value]="item.command.votingThreshold" [disabled]="true" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Percentage Side Voting Threshold</mat-label>
          <input matInput [value]="item.command.percentageSideVotingThreshold" [disabled]="true" />
        </mat-form-field>
      </form>
      <div class="text-center">
        <button mat-icon-button (click)="deleteClick()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </mat-card-content>
</mat-card>
