services:
  arma-server-web-gui:
    build:
      context: .
      dockerfile: Dockerfile.local
    restart: unless-stopped
    user: "1001:1001"
    ports:
      - "8085:8085"
    volumes:
      - /aswg_docker/arma-server:/aswg/arma-server
      - /aswg_docker/config:/aswg/config
      - /aswg_docker/aswg_profiles:/aswg/aswg_profiles
