services:
  aswg:
    container_name: aswg
    image: aquerr/arma-server-web-gui
    restart: on-failure:3
    environment:
      # Can be omitted to run as root, but it is highly recommended to provide these environment variables and not run as root.
      PUID: 1001 # Your user id (UID)
      PGID: 1001 # Your group id (GID)
    ports:
      - "8085:8085/tcp"
      - "2302-2306:2302-2306/udp"
    volumes:
      - arma-server:/aswg/arma-server
      - ./aswg_docker/data:/aswg/data
      - ./aswg_docker/config:/aswg/config
volumes:
  arma-server: