<ng-template #missionListItemTemplate let-item>
  <app-mission-list-item
    [mission]="item"
    (missionDeleted)="onMissionDelete($event)"
  ></app-mission-list-item>
</ng-template>

<div class="mission-list-group" cdkDropListGroup>
  <app-aswg-drag-and-drop-list
    listId="Disabled"
    [items]="disabledMissions()"
    [listItemTemplate]="missionListItemTemplate"
    listHeader="Disabled"
    (moveAll)="enableAllMissions()"
    (itemDragDrop)="onMissionItemDragDrop($event)"
    [moveAllButtonName]="'Enable all'"
    [moveAllButtonIcon]="'arrow_forward'"
    [filterFunction]="missionFilterFunction"></app-aswg-drag-and-drop-list>

  <app-aswg-drag-and-drop-list
    listId="Enabled"
    [items]="enabledMissions()"
    [listItemTemplate]="missionListItemTemplate"
    listHeader="Enabled"
    (moveAll)="disableAllMissions()"
    (itemDragDrop)="onMissionItemDragDrop($event)"
    [moveAllButtonName]="'Disable all'"
    [moveAllButtonIcon]="'arrow_backward'"
    [filterFunction]="missionFilterFunction"></app-aswg-drag-and-drop-list>
</div>
