<mat-nav-list>
  <mat-list-item class="aswg-list-item" routerLink="/general">General</mat-list-item>
  <mat-list-item class="aswg-list-item" routerLink="/security">Security</mat-list-item>
  <mat-list-item class="aswg-list-item" routerLink="/network">Network</mat-list-item>
  <mat-list-item class="aswg-list-item" routerLink="/missions">Missions</mat-list-item>
  <mat-list-item class="aswg-list-item" routerLink="/mods">Mods</mat-list-item>
  <mat-list-item class="aswg-list-item" routerLink="/logging">Logging</mat-list-item>
</mat-nav-list>
