.aswg-list-item {
  color: var(--aswg-primary-color);
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aswg-list-item mat-icon {
  float: right;
}

.nav-list {
  width: 100% !important;
}

.aswg-list-item-inactive {
  color: #9999a9;
}

.nav-container {
  background-color: var(--aswg-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: inherit;
}

.nav-container > a {
  color: white;
  font-size: 16px;
}

mat-icon {
  color: white;
}

@media (max-width: 800px) {
    ::ng-deep .mdc-list-item__primary-text {
      color: white !important;
    }
    mat-icon {
      color: white !important;
    }
}
