@use "variables" as *;
@use '@angular/material' as mat;

.aswg-list-item {
  color: var(--aswg-color-brand);
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aswg-list-item mat-icon {
  float: right;
}

.nav-list {
  width: 100% !important;
  padding: 0 !important;
}

.aswg-list-item-inactive {
  color: var(--aswg-color-text-muted);
}

mat-icon {
  color: var(--aswg-color-text);
}

@media (max-width: $aswg-mobile-breakpoint) {
  .nav-list {
    @include mat.list-overrides((
      list-item-label-text-color: var(--aswg-color-on-brand)
    ));
  }

  .aswg-list-item mat-icon {
    color: var(--aswg-color-on-brand);
  }
}
