.aswg-list-item {
  color: var(--aswg-primary-color);
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aswg-list-item mat-icon {
  float: right;
}

.nav-list {
  width: 100% !important;
}

.aswg-list-item-inactive {
  color: #9999a9;
}

mat-icon {
  color: var(--aswg-primary-text-color);
}

@media (max-width: 800px) {
    ::ng-deep .mdc-list-item__primary-text {
      color: white !important;
    }
    mat-icon {
      color: white !important;
    }
}
