<form [formGroup]="form" class="container">
  <h1>Security</h1>
  <div>
    <div class="security-fields">
      <mat-form-field class="server-password">
        <mat-label>Password</mat-label>
        <input formControlName="serverPassword" matInput type="text">
        <mat-error *ngIf="hasFormError('serverPassword', 'required')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field class="server-admin-password">
        <mat-label>Admin Password</mat-label>
        <input formControlName="serverAdminPassword" matInput type="text">
        <mat-error *ngIf="hasFormError('serverAdminPassword', 'required')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field class="server-command-password">
        <mat-label>Command Password</mat-label>
        <input formControlName="serverCommandPassword" matInput type="text">
        <mat-error *ngIf="hasFormError('serverCommandPassword', 'required')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>BattleEye</mat-label>
        <mat-select [(ngModel)]="battleEye" formControlName="battleEye">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="hasFormError('battleEye', 'required')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Verify Addons Signatures</mat-label>
        <mat-select [(ngModel)]="verifySignatures" formControlName="verifySignatures">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="hasFormError('verifySignatures', 'required')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Allowed File Patching</mat-label>
        <mat-select [(ngModel)]="allowedFilePatching" formControlName="allowedFilePatching">
          <mat-option [value]="0">NOT ALLOWED</mat-option>
          <mat-option [value]="1">ALLOWED FOR HEADLESS CLIENTS</mat-option>
          <mat-option [value]="2">ALLOWED FOR ALL CLIENTS</mat-option>
        </mat-select>
        <mat-error *ngIf="hasFormError('allowedFilePatching', 'required')">This field is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="security-save-container">
    <button mat-flat-button color="primary" (click)="save()">Save</button>
  </div>
</form>
