.security-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
