@use "variables" as *;

.security-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.security-save-container {
  margin-top: 20px;
}

@media (max-width: $aswg-mobile-breakpoint) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
