<div>
  <h1>Security</h1>
  <div>
    <div class="security-fields">
      <mat-form-field class="server-password">
        <mat-label>Password</mat-label>
        <input name="server-password" [(ngModel)]="serverPassword" matInput type="text">
      </mat-form-field>
      <mat-form-field class="server-admin-password">
        <mat-label>Admin Password</mat-label>
        <input name="server-password" [(ngModel)]="serverAdminPassword" matInput type="text">
      </mat-form-field>
      <mat-form-field class="server-command-password">
        <mat-label>Command Password</mat-label>
        <input name="server-password" [(ngModel)]="serverCommandPassword" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>BattleEye</mat-label>
        <mat-select [(ngModel)]="battleEye" name="battleEye">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="security-save-container">
    <button mat-flat-button color="primary" (click)="save()">Save</button>
  </div>
</div>
