<?xml version="1.0" encoding="UTF-8"?>
<configuration
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty name="ASWG_LOGS_LOCATION" scope="context" source="aswg.logs.location"></springProperty>
    <springProperty name="SERVER_LOG_FILE_NAME" scope="context" source="server.log.file.name"></springProperty>

    <!--
        JSON file appender
        Produces logs in JSON format to a .txt file

        To use it, enable "file-json-logs" spring profile.
    -->
    <springProfile name="file-json-logs">
        <appender name="FILE-JSON-LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${ASWG_LOGS_LOCATION}/aswg.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${ASWG_LOGS_LOCATION}/aswg.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
                <maxFileSize>4MB</maxFileSize>
                <maxHistory>10</maxHistory>
                <totalSizeCap>50MB</totalSizeCap>
                <cleanHistoryOnStart>false</cleanHistoryOnStart>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <pattern>
                        <pattern>
                            <omitEmptyFields>true</omitEmptyFields>
                            {
                                "timestamp": "%date{ISO8601}",
                                "log.level": "%level",
                                "log.name": "%logger",
                                "thread": "%thread",
                                "method": "%X{method}",
                                "request.uri": "%X{uri}",
                                "request.user-agent": "%X{user-agent}",
                                "request.content-type": "%X{request-content-type}",
                                "response.content-type": "%X{response-content-type}",
                                "response.duration": "%X{duration}",
                                "message": "%message",
                                "exception": "%throwable"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <!-- Default file appender -->
    <springProfile name="!file-json-logs">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
                <charset>${FILE_LOG_CHARSET}</charset>
            </encoder>
            <file>${ASWG_LOGS_LOCATION}/aswg.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${ASWG_LOGS_LOCATION}/aswg.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
                <maxFileSize>4MB</maxFileSize>
                <maxHistory>10</maxHistory>
                <totalSizeCap>50MB</totalSizeCap>
                <cleanHistoryOnStart>false</cleanHistoryOnStart>
            </rollingPolicy>
        </appender>
    </springProfile>

    <appender name="SERVER_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ASWG_LOGS_LOCATION}/${SERVER_LOG_FILE_NAME}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ASWG_LOGS_LOCATION}/arma-server-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>4MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>




    <springProfile name="file-json-logs">
        <root level="INFO">
            <appender-ref ref="FILE-JSON-LOGS" />
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.zalando.logbook" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-JSON-LOGS" />
        </logger>
    </springProfile>
    <springProfile name="!file-json-logs">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.zalando.logbook" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <logger name="arma-server" level="INFO" additivity="false">
        <appender-ref ref="SERVER_LOG_FILE" />
    </logger>
</configuration>