<h2>{{ header }}</h2>
<div
  cdkDropList
  [cdkDropListData]="items"
  class="list"
  [cdkDropListSortingDisabled]="!canSortManually"
  (cdkDropListDropped)="drop($event)"
  >
  @for (item of items; track item) {
    <div class="list-item-container" cdkDrag>
      <div style="flex: 72%">
        {{ item }}
      </div>
      <div class="text-center" style="flex: 14%">
        @if (canModify) {
          <button mat-icon-button (click)="modifyClick(item)">
            <mat-icon>settings</mat-icon>
          </button>
        }
      </div>
      <div class="text-center" style="flex: 14%">
        @if (canDelete) {
          <button mat-icon-button (click)="deleteClick(item)">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </div>
    </div>
  }
</div>
