<div class="container">
  <h1>Job {{ jobName }}</h1>
  <div>
    <form [formGroup]="form" class="fields">

      @let isFailed = formService.getLastStatus(form).value == JobStatus.FAILURE;
      <div class="information" [ngClass]="isFailed ? 'information-error-color' : 'information-success-color'">
        <div class="information-content">
          <div class="information-icon">
            <mat-icon [fontIcon]="'information'"></mat-icon>
          </div>
          <div>
            <div>
              Last job execution date: {{ formService.getLastExecutionDateControl(form).value | date: 'yyyy-MM-dd HH:mm:ss' }}
            </div>
            <div>
              Finished at: {{ formService.getLastExecutionFinishedDateControl(form).value | date: 'yyyy-MM-dd HH:mm:ss' }}
            </div>
            <div>
              Message: {{ formService.getLastMessage(form).value }}
            </div>
          </div>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Enabled</mat-label>
        <mat-select formControlName="enabled">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cron</mat-label>
        <input name="cron" formControlName="cron" matInput type="text" />
        <mat-hint>Next execution date: {{ formService.getNextExecutionDateControl(form).value | date: 'yyyy-MM-dd HH:mm:ss' }}</mat-hint>
      </mat-form-field>

      @if (formService.getParametersControl(form).value.length > 0) {
        <h2>Parameters</h2>
        <div formArrayName="parameters">
          @for (parameter of parameters.controls; track parameter; let i = $index) {
            <div [formGroupName]="i">
              <mat-form-field>
                <mat-label [matTooltip]="parameter.get('description')?.value">{{ parameter.get('name')?.value }}</mat-label>
                <input matInput type="text" formControlName="value" [value]="parameter.get('value')?.value">
              </mat-form-field>
            </div>
          }
        </div>
      }
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="save()">Save</button>
        <button mat-flat-button color="primary" (click)="runNow()">Run now</button>
      </div>
    </form>
  </div>
</div>
