.server-directory-field {
  width: 50%;
}

.hostname-field {
  width: 50%;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general-properties {
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fields {
    width: 100%;
  }

  .general-properties {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
