<div class="container">
  <h1>General</h1>
  <div class="general-properties">
    <div class="fields">
      <mat-form-field class="width-35">
        <mat-label>Server directory</mat-label>
        <input name="server-directory"
               [(ngModel)]="serverDirectory"
               matInput
               type="text">
      </mat-form-field>
      <mat-form-field class="width-35">
        <mat-label>Mods directory</mat-label>
        <input name="mods-directory"
               [(ngModel)]="modsDirectory"
               matInput
               type="text"
               matTooltip="Optional option. Specifies mods directory relative to server directory.
               When empty (default), then mod folders will be located inside server root directory"
               matTooltipPosition="right">
      </mat-form-field>
      <mat-form-field class="width-50">
        <mat-label>Hostname</mat-label>
        <input name="hostname"
               [(ngModel)]="hostname"
               matInput
               type="text"
               matTooltip="Also determines the configuration profile used by the game"
               matTooltipPosition="right">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Port</mat-label>
        <input name="port"
               [(ngModel)]="port"
               matInput
               type="number"
               min="0">
      </mat-form-field>
      <mat-form-field class="max-players-field">
        <mat-label>Max players</mat-label>
        <input name="max-players"
               [(ngModel)]="maxPlayers"
               matInput
               type="number"
               min="0">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Persistent</mat-label>
        <mat-select [(ngModel)]="persistent" name="persistent" matTooltip="If yes then mission keeps running even when all players disconnect">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Drawing in map</mat-label>
        <mat-select [(ngModel)]="drawingInMap" name="drawing-in-map" matTooltip="Enabled the ability to place markers and draw lines on map">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%;" matTooltip="IP addresses of headless clients. Used to offload AI calculations from the server." matTooltipPosition="right">
        <mat-label>Headless Clients (IPs)</mat-label>
        <mat-chip-grid #headlessClientsGrid aria-label="HeadlessClients">
          <mat-chip-row *ngFor="let headlessClient of headlessClients"
                        [editable]="true"
                        (edited)="editHeadlessClient(headlessClient, $event)"
                        (removed)="removeHeadlessClient(headlessClient)"
                        [aria-description]="'press enter to edit ' + headlessClient"
          >
            {{headlessClient}}
            <button matChipRemove [attr.aria-label]="'remove ' + headlessClient">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input placeholder="New Headless client..."
                 [matChipInputFor]="headlessClientsGrid"
                 [matChipInputSeparatorKeyCodes]="[ENTER, COMMA]"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addNewHeadlessClient($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </div>
    <section class="motd-section">
      <app-motd-list #motdListComponent></app-motd-list>
    </section>
    <div>
      <mat-label>Current command-line params</mat-label>
      <input class="command-line-params" disabled [value]="commandLineParams" type="text">
    </div>
  </div>
  <div class="button-container">
    <button mat-flat-button color="primary" (click)="save()">Save</button>
  </div>
</div>
