.server-directory-field {
  width: 50%;
}

.hostname-field {
  width: 50%;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general-properties {
  margin-bottom: 1rem;
}
