.width-35 {
  width: 35%;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general-properties {
  margin-bottom: 1rem;
}

.command-line-params-section {
  display: flex;
  flex-direction: column;
}

.command-line-params-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.command-line-params {
  color: black;
  width: 100%;
  text-overflow: ellipsis;
  height: 4rem;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fields {
    width: 100%;
  }

  .general-properties {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .server-directory-field,
  .hostname-field,
  .mat-mdc-form-field {
    width: 100% !important;
  }

  .buttons-section-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
