<span mat-dialog-title>Mod Download Queue</span>
<div class="dialog-close-button">
      <span class="dialog-close-button">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </span>
</div>
<mat-dialog-content>
  <div class="list">
    @for (mod of modDownloadQueue; track mod.fileId) {
      <div class="list-item">
        <div class="list-item-header">
          <span>
            Id: {{ mod.fileId }}
          </span>
          <span>
            Name: {{ mod.title }}
          </span>
          <span style="filter: brightness(75%)">
            Download attempt: {{ mod.installAttemptCount }}
          </span>
        </div>
      </div>
    }
  </div>
</mat-dialog-content>
