<div class="snack-bar-header">
  <button class="float-end" mat-icon-button aria-label="close" matSnackBarAction (click)="snackBarRef.dismissWithAction();">
    <mat-icon>close</mat-icon>
  </button>
  <mat-label class="mod-upload-snackbar-header">Uploading:</mat-label>
</div>
<div>
  <div *ngFor="let uploadingMod of getUploadingMods(); index as i">
    <mat-label>{{uploadingMod.modName}}</mat-label>
    <mat-progress-bar class="mt-2" mode="determinate" [value]="uploadingMod.progress" [bufferValue]="uploadingMod.totalSize"></mat-progress-bar>
    <hr *ngIf="i < getUploadingMods().length - 1">
  </div>
</div>
