.player-list-container {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 var(--aswg-color-border-strong);
}

.player-list {
  padding: 0;
}

.player-list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.player-list-item:not(:last-child) {
  border-bottom: var(--aswg-color-surface-container) solid 2px;
}
