.server-console {
  background-color: #24292e;
  height: 300px;
  width: 100%;
  color: darkgrey;
  white-space: pre-line;
  padding: 5px;
  overflow: scroll;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .server-console {
    width: 90vw;
  }
}
