<div class="workshop-item-card">
  <div class="card-image">
    <a target="_blank" [href]="workshopMod.modWorkshopUrl" style="text-decoration: none">
      <img [src]="workshopMod.previewUrl" alt="No Image" />
    </a>
  </div>
  <div class="card-content">
    <a target="_blank" [href]="workshopMod.modWorkshopUrl" style="text-decoration: none">
      <h2>{{ workshopMod.title }}</h2>
    </a>
    <p>
      {{ prepareModDescription(workshopMod.description) }}
    </p>
    @if (!workshopMod.isBeingInstalled) {
      <div>
        @if (canInstall) {
          <button mat-flat-button color="primary" (click)="installMod(workshopMod)">
            Install
          </button>
        }
        @if (!canInstall) {
          <button mat-flat-button color="accent" (click)="deleteMod(workshopMod)">
            Delete
          </button>
        }
      </div>
    }
    @if (workshopMod.isBeingInstalled) {
      <div
        class="spinner"
        style="position: relative; max-width: 30px; max-height: 30px; margin-top: 10px"
        >
        <ngx-spinner
          [name]="workshopMod.title"
          [fullScreen]="false"
          [size]="'default'"
          [color]="spinnerColor"
          [type]="'ball-clip-rotate-multiple'"
          [bdColor]="'transparent'"
          >
        </ngx-spinner>
        <span style="margin-left: 40px">Installing...</span>
      </div>
    }
  </div>
</div>
