.card-image {
  width: 200px;
  height: 200px;
}

.card-image img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.workshop-item-card {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto 80%;
  gap: 10px;
  border: 0 solid white;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px #444c56, 0 1px 1px 0 #444c56, 0 1px 3px 0 #444c56;
  overflow-y: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 800px) {
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 5px;
  }
  .workshop-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
