<nav class="navbar navbar-dark aswg-bg-blue">
  <div class="top-container">
    <div class="left-column">
      <a class="navbar-brand" routerLink="/general">ASWG</a>
    </div>
    <div class="right-column">
      <div class="theme-container">
        <button mat-icon-button color="primary" (click)="changeTheme()">
          @if (!darkMode) {
            <mat-icon matTooltip="Change Theme">nightlight</mat-icon>
          }
          @if (darkMode) {
            <mat-icon matTooltip="Change Theme">light_mode</mat-icon>
          }
        </button>
      </div>
      <div class="username-container">
        <mat-icon [fontIcon]="'person'"></mat-icon>
        @if (isAuthenticated()) {
          <span class="user-name">{{ getUsername() }}</span>
        }
      </div>
      @if (isAuthenticated()) {
        <button mat-icon-button color="primary" (click)="logout()">
          <mat-icon [fontIcon]="'logout'"></mat-icon>
        </button>
      }
    </div>
  </div>
</nav>
