<div class="container">
  <h1>Mod Settings</h1>
  <div class="mod-settings-page-content">
    @for (modSettings of modSettingsList; track $index) {
      <app-mod-settings-panel #modSettingPanels
        [modSettings]="modSettings"
        (deleted)="onModSettingsDelete($event)"
        (activated)="onModSettingsActivate($event)">
      </app-mod-settings-panel>
    }
    <div>
      <button class="mod-settings-add-new" mat-stroked-button
              color="primary"
              (click)="addNewModSettings()">
        <mat-icon [fontIcon]="'add_circle'"></mat-icon>
      </button>
    </div>
  </div>
</div>
