<h2 class="mods-list-header">
  {{ listHeader }} <span class="brightness-50">({{ mods.length }})</span>
</h2>
<div class="mod-list-buttons">
  <button mat-button (click)="moveAllMods()">
    {{moveAllModsButtonName}}<mat-icon>{{moveAllModsButtonIcon}}</mat-icon>
  </button>
  <mat-form-field class="sort-button">
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="sortBy" (selectionChange)="sortModList()" [hideSingleSelectionIndicator]="true">
      <mat-option [value]="'Name_Asc'">Name <mat-icon>arrow_downward_alt</mat-icon></mat-option>
      <mat-option [value]="'Name_Desc'">Name <mat-icon>arrow_upward_alt</mat-icon></mat-option>
      <mat-option [value]="'Size_Asc'">Size <mat-icon>arrow_downward_alt</mat-icon></mat-option>
      <mat-option [value]="'Size_Desc'">Size <mat-icon>arrow_upward_alt</mat-icon></mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="list-container">
  <div
    [id]="listHeader"
    cdkDropList
    class="list-container"
    [cdkDropListData]="filteredMods()"
    cdkDropListSortingDisabled
    (cdkDropListDropped)="onModItemDragDrop($event)"
  >
    @for (mod of filteredMods(); track mod.name) {
      <app-mod-list-item
        [mod]="mod"
        (modDeleted)="onModDelete($event)"
        cdkDrag
      ></app-mod-list-item>
    }
  </div>
</div>
