.mod-list-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mod-list-buttons .mat-icon {
  color: white !important;
}

.sort-button {
  width: 8rem;
}

:host {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

.list-container {
  border: solid 1px #444c56;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  height: 100%;
}

.list {
  height: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .list-item-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 800px) {
  .mods-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0 !important;
    min-height: 10rem;
    min-width: 10rem;
  }
}
