<form class="container">
  <h1>Steam Settings</h1>
  <div>
    <form [formGroup]="form" class="fields">
      <mat-form-field>
        <mat-label>SteamCMD Path</mat-label>
        <input
          name="steamCmdPath"
          formControlName="steamCmdPath"
          matInput
          type="text"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>SteamCMD Username</mat-label>
        <input name="steamCmdUsername" formControlName="steamCmdUsername" matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>SteamCMD Password</mat-label>
        <input
          name="steamCmdPassword"
          formControlName="steamCmdPassword"
          matInput
          type="password"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Custom SteamCMD Workshop Content Path</mat-label>
        <input
          name="steamCmdWorkshopContentPath"
          formControlName="steamCmdWorkshopContentPath"
          matInput
          type="text"
          matTooltip="Can be used to overwrite the default workshop content path. Leave empty to use ASWG defaults"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Steam Web Api Token</mat-label>
        <input name="steamWebApiToken" formControlName="steamWebApiToken" matInput type="text" matTooltip="ASWG must be restarted after chaning the Steam Api Key." />
      </mat-form-field>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="save()">Save</button>
      </div>
    </form>
  </div>
</form>
