<div class="mod-preset-menu-button">
  <button mat-button [matMenuTriggerFor]="presetMenu">Mod presets</button>
  <mat-menu #presetMenu>
    <app-mod-preset-item *ngFor="let preset of modPresets" [presetName]="preset" (presetSelected)="onPresetSelect($event)" (presetDeleted)="onPresetDelete($event)"></app-mod-preset-item>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="newPresetClick()">New preset...</button>
    <mat-divider></mat-divider>
    <input style="display: none;" type="file" #presetFileInput (change)="modPresetImport($event)" accept="text/html">
    <button mat-menu-item (click)="presetImportClick()">Import preset...</button>
  </mat-menu>
</div>
