<form class="container">
  <h1>Users Settings</h1>
  <div class="">
    @for (user of users(); track $index) {
      <app-settings-user-panel [user]="user" (deleted)="delete($event)" (saved)="save($event)" (passwordSaved)="passwordSaved($event.userId, $event.password)">
      </app-settings-user-panel>
    }
    <div>
      <button class="user-add-new" mat-stroked-button color="primary" (click)="addUser()">
        <mat-icon [fontIcon]="'add_circle'"></mat-icon>
      </button>
    </div>
  </div>
</form>
