.app-list-missions {
}

.buttons-section-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.buttons-section-bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: calc(50px + 2vw);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 800px) {
  .app-missions-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
