<div appDragAndDropFile
     (fileDropped)="onFileDropped($event)"
     (fileDragged)="setFileDragged($event)"
     [dropZoneElement]="dropZone"
     class="app-missions-tab">
  <h1>Missions</h1>

  <ng-template #dropZone>
    <app-drag-and-drop-overlay></app-drag-and-drop-overlay>
  </ng-template>

  @if (isFileDragged) {
    <ng-container [ngTemplateOutlet]="dropZone"></ng-container>
  }

  <div [ngClass]="isFileDragged ? ['pointer-events-none', 'display-none'] : []">
    <div class="">
      <div class="buttons-section-top">
        <div>
          <button mat-flat-button color="primary" (click)="addNewMission()">Add new mission</button>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Search mission...</mat-label>
        <input matInput type="text" [formControl]="searchBoxControl" placeholder="Search mission..." />
      </mat-form-field>
    </div>

    <app-mission-lists [searchPhrase]="searchPhrase()"></app-mission-lists>

    <div class="buttons-section-bottom">
      <div>
        <button mat-flat-button color="primary" (click)="save()">Save</button>
      </div>
      <div>
        <app-upload-mission></app-upload-mission>
      </div>
    </div>
  </div>


</div>
