.app-list-missions {

}

.mission-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 30rem;
}

.mission-list{
  width: 100%;
  max-width: 100%;
}

.list {
  border: solid 1px #444c56;
  min-height: 100%;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.list-item-container {
  padding: 20px 10px;
  border-bottom: solid 1px #444c56;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  word-wrap: anywhere;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px #444c56,
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .list-item-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.missions-save-and-upload {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .app-missions-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mission-list {
    width: auto;
    margin-left: 0!important;
  }
  .mission-list-group {
    flex-direction: column;
  }
  .missions-save-and-upload {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}
