.app-list-missions {

}

.app-upload-mission {
  margin-top: 10px;
  float: right;
}

.mods-list{
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}
