@use "variables" as *;

mat-icon {
  color: var(--aswg-color-on-brand);
}

.container {
  border: 1px solid var(--aswg-color-brand);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: $aswg-mobile-breakpoint) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}
