<div class="container" style="height: 100%">
  <ng-container *ngIf="isMobile; else desktopHeader">
    <app-mobile-header class="row mb-4" (changeThemeEmit)="changeTheme()" [darkMode]="isDarkMode()"></app-mobile-header>
  </ng-container>
  <ng-template #desktopHeader>
    <app-desktop-header class="desktop-header" (changeThemeEmit)="changeTheme()"
                        [darkMode]="isDarkMode()"></app-desktop-header>
  </ng-template>
  <div style="display: flex; flex-direction: row; height: 100%;">
    <div class="side-menu-wrapper" *ngIf="!isMobile">
      <app-side-menu [darkMode]="isDarkMode()"></app-side-menu>
      <ng-container [ngTemplateOutlet]="footer" *ngIf="!isMobile"></ng-container>
    </div>
    <div class="router-section">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <ng-container [ngTemplateOutlet]="footer" *ngIf="isMobile"></ng-container>
    </div>
  </div>
</div>
<app-aswg-spinner></app-aswg-spinner>
<ng-template #footer>
  <footer class="footer">
    <span class="version">Version: {{ version }}</span>
    <span class="copyright">&copy; ASWG 2025</span>
  </footer>
</ng-template>
