.page-content {
  padding: 10px;
}

.router-section {
  display: block;
  margin-left: 280px;
  min-height: 300px;
  width: 100%;
}

.content {
  padding: 25px 50px 50px 50px;
}

.side-menu-wrapper {
  position: fixed;
  border-right: #373e45 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 100%;
}

.footer {
  border-top: var(--aswg-border-color) solid 1px;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .router-section {
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
    padding: 0;
  }

  .row {
    width: 100%;
    position: fixed;
    z-index: 100;
  }
}
