<div class="container mt-4">
  <app-header class="row mb-4" (changeThemeEmit)="changeTheme()" [darkMode]="isDarkMode()" [isMobile]="isMobile"></app-header>
  <div style="display: flex; flex-direction: row;">
    <div style="display: block; width: 15%; padding-right: 20px" *ngIf="!isMobile">
      <app-side-menu></app-side-menu>
    </div>
    <div style="display: block; width: 85%">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <footer>
    <div class="float-end">
      &copy; ASWG 2023
    </div>
  </footer>
</div>
<app-aswg-spinner></app-aswg-spinner>
