<div class="container">
  <app-mobile-header class="row mb-4" (changeThemeEmit)="changeTheme()" [darkMode]="isDarkMode()" *ngIf="isMobile"></app-mobile-header>
  <div style="display: flex; flex-direction: row;">
    <div style="display: block; width: 15%;" *ngIf="!isMobile">
      <app-side-menu (changeThemeEmit)="changeTheme()" [darkMode]="isDarkMode()"></app-side-menu>
    </div>
    <div class="router-section">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <footer>
    <div class="float-end">
      &copy; ASWG 2023
    </div>
  </footer>
</div>
<app-aswg-spinner></app-aswg-spinner>
