.page-content {
  padding: 10px;
}

.router-section {
  display: block;
  width: 85%;
  padding: 50px;
}

footer {
  padding: 10px;
}

@media (max-width: 800px) {

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .router-section {
    margin-top: 80px;
    width: 100%;
    padding: 0;
  }

  .row {
    width: 100%;
    position: fixed;
    z-index: 100;
  }
}
