.app-mods-tab {

}

.mod-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 30rem;
}

.mods-list{
  width: 100%;
  max-width: 100%;
}

.list {
  border: solid 1px #444c56;
  min-height: 100%;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .list-item-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mods-save-and-upload {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .app-mods-tab {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .mod-list-group {
    flex-direction: column;
    margin: auto;
    justify-items: left;
    align-items: center;
    width: 100%;
  }
  .mods-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0!important;
    min-height: 10rem;
    min-width: 10rem;
  }
  .mods-save-and-upload {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }
}
