<div appDragAndDropFile (fileDropped)="onFileDropped($event)" class="app-mods-tab">
    <h1>Mods</h1>
  <div class="fields">
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%">
      <mat-form-field>
        <mat-label>Search mission...</mat-label>
        <input matInput type="text" [formControl]="searchBoxControl" placeholder="Search mission...">
      </mat-form-field>
      <app-mod-presets [mods]="enabledMods" (modPresetSelected)="onModPresetSelected($event)"></app-mod-presets>
    </div>
  </div>
  <div class="mod-list-group" cdkDropListGroup>
    <div class="mods-list">
      <h2>Disabled</h2>
      <div class="mod-list-buttons">
        <button mat-button (click)="enableAllMods()">Enable all<mat-icon>arrow_forward</mat-icon></button>
      </div>

      <div
        id="disabled-mods-list"
        cdkDropList
        [cdkDropListData]="filteredDisabledMods"
        class="list"
        [cdkDropListSortingDisabled]="true"
        (cdkDropListDropped)="onModItemDragDrop($event)">
        <div app-mod-list-item *ngFor="let mod of filteredDisabledMods" [mod]="mod" (onModDelete)="onModDelete($event)" cdkDrag></div>
      </div>
    </div>

    <div class="mods-list" style="margin-left: 1rem;">
      <h2>Enabled</h2>
      <div class="mod-list-buttons">
        <button mat-button (click)="disableAllMods()">Disable all<mat-icon>arrow_backward</mat-icon></button>
      </div>
      <div
        id="enabled-mods-list"
        cdkDropList
        [cdkDropListData]="filteredEnabledMods"
        class="list"
        [cdkDropListSortingDisabled]="true"
        (cdkDropListDropped)="onModItemDragDrop($event)">
        <div app-mod-list-item *ngFor="let mod of filteredEnabledMods" cdkDrag [mod]="mod" (onModDelete)="onModDelete($event)"></div>
      </div>
   </div>
  </div>
  <div class="mods-save-and-upload">
    <div>
      <button mat-flat-button color="primary" (click)="save()">Save</button>
    </div>
    <div>
      <app-upload-mod></app-upload-mod>
    </div>
  </div>
</div>
