.mod-list-buttons {
  margin-bottom: 10px;
}

.mod-list-buttons .mat-icon {
  color: white !important;
}

.mod-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 30rem;
  gap: 1rem;
}

.mods-list {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

.list-container {
  border: solid 1px #444c56;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  height: 100%;
}

.list {
  height: 100%;
}

.not-managed-mod-list {
  border: solid 1px #444c56;
  border-radius: 4px;
}

.not-managed-mod-list-item {
  border-bottom: #444c56 solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 500;

  .not-managed-mod-list-item-header {
    display: flex;
    flex-direction: column;
  }
}

.not-managed-mod-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.not-managed-mod-buttons .mat-icon {
  color: white !important;
}

.not-managed-mod-list-item:last-child {
  border: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .list-item-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.buttons-section-bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: calc(50px + 2vw);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

//.buttons-section-bottom {
//  margin-top: 7rem;
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

//.buttons-section-bottom {
//  position: fixed;
//  right: calc(50px + 2vw);
//  bottom: 20px;
//  display: flex;
//  gap: 20px;
//  margin: 0;
//  justify-items: center;
//  align-items: center;
//  .container{
//    padding: .5rem 1rem;
//  }
//  &>div>button {
//    height: auto;
//    padding: .5rem 1rem !important;
//  }
//
//  &>div:last-of-type {
//    border: 1px solid var(--aswg-primary-color);
//
//    border-radius: 8px;
//  }
//}
//.list{
//  height: auto;
//  border-bottom: none !important;
//}

@media (max-width: 800px) {
  .app-mods-tab {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .mod-list-group {
    flex-direction: column;
    margin: auto;
    justify-items: left;
    align-items: center;
    width: 100%;
  }
  .mods-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0 !important;
    min-height: 10rem;
    min-width: 10rem;
  }
  .buttons-section-bottom {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }
}
