.buttons-section-bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: calc(50px + 2vw);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .app-mods-tab {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .buttons-section-bottom {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }
}
