<h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput name="password" type="password" formControlName="password" />
      @if (this.form.get('password')?.hasError('required')) {
        <mat-error
          >Password is required</mat-error
          >
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput name="confirmPassword" type="password" formControlName="confirmPassword" />
        @if (this.form.get('confirmPassword')?.hasError('required')) {
          <mat-error
            >Password is required</mat-error
            >
          }
        </mat-form-field>
        @if (this.form.hasError("passwordsDoNotMatch") && (!this.form.untouched || this.form.dirty)) {
          <mat-error>Passwords do not match</mat-error>
        }
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="confirm()">Confirm</button>
      <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    </div>
