<h1 mat-dialog-title>Preset Import Confirmation</h1>
<div mat-dialog-content>
  <h4><strong>Preset name:</strong> {{ modPresetName() }}</h4>
  <div>
    <h4><strong>Mods:</strong></h4>
    <ul>
      @for (mod of modPresetEntries(); track mod.id) {
        <li>{{ mod.id + ' - ' + mod.name }}</li>
      }
    </ul>
  </div>
  <h4>Are you sure you want to import this mod preset?</h4>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Import</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
