<div class="container">
  <h1>Server Status</h1>
  <div>
    Status: <span [ngStyle]="isServerOffline() ? { color: 'red' } : { color: 'green' }">{{ serverStatus().statusText }}</span>
  </div>
  <div style="margin-top: 5px">
    <div style="display: flex">
      @if (canToggleServer()) {
        <div>
          @if (isServerOffline()) {
            <div
              style="display: flex; flex-direction: column"
              >
              <mat-checkbox id="perform-update" [(ngModel)]="performUpdate" labelPosition="after"
                >Perform Arma update during start?</mat-checkbox
                >
                <button mat-flat-button color="primary" (click)="toggleServer()">{{ "START" }}</button>
              </div>
            } @else {
              <div>
                <button mat-flat-button color="primary" (click)="toggleServer()">{{ "STOP" }}</button>
              </div>
            }
          </div>
        }
      </div>
    </div>
    <app-server-console></app-server-console>
    <app-player-list [playerList]="playerList()"></app-player-list>
  </div>
