<h4>Messages of the day</h4>
<section class="motd-section">
  <div class="motd-list" cdkDropList (cdkDropListDropped)="onReorderList($event)">
    @for (motdItem of motdControl().value; track motdItem; let i = $index) {
      <div
        cdkDrag
        class="motd-list-item"
        role="listitem"
        (dblclick)="onMotdItemDoubleClick(motdItem)"
        >
        <div class="motd-list-item-number">{{ i + 1 }}</div>
        @if (motdItem.editing) {
          <div class="motd-list-item-message">
            <form (ngSubmit)="onItemUpdate(motdItem)">
              <input
                style="width: 100%"
                [(ngModel)]="motdItem.message"
                [ngModelOptions]="{ standalone: true }"
                />
            </form>
          </div>
        } @else {
          <div class="motd-list-item-message">
            {{ motdItem.message }}
          </div>
        }
        <span aria-hidden="true" role="button" class="motd-list-item-delete" (click)="deleteMotdLine(i)">&#10006;</span>
      </div>
    }
    <div>
      <button mat-stroked-button color="primary" style="width: 100%" (click)="addNewMotdLine()">
        <mat-icon [fontIcon]="'add_circle'"></mat-icon>
      </button>
    </div>
  </div>
  <mat-form-field class="motd-interval">
    <mat-label>Motd Interval</mat-label>
    <input name="motd-interval" [formControl]="motdIntervalControl()" matInput type="number" min="0" />
    @if (motdIntervalControl().hasError('required')) {
      <mat-error>This field is required!</mat-error>
    }
  </mat-form-field>
</section>
