.motd-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.motd-list {
  width: 100%;
}

.motd-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: whitesmoke;
  background-color: darkslateblue;
  justify-content: space-between;
  padding: 0 12px 0px;
  cursor: grab;
}

.motd-list-item:hover {
  background-color: #5c4eac;
}

.motd-list-item-number {
  display: inline-block;
  width: 5%;
  border-right: 1px solid whitesmoke;
}

.motd-list-item-message {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 80%;
}

.motd-list-item-delete {
  width: 1%;
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.motd-list-item:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .motd-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
