<h4>Messages of the day</h4>
<div class="motd-list" cdkDropList (cdkDropListDropped)="onReorderList($event)">
  <div cdkDrag class="motd-list-item" role="listitem" *ngFor="let motdLine of motd; let i = index">
    <div class="motd-list-item-number">{{(i + 1)}}</div>
    <div class="motd-list-item-message">{{motdLine}}</div>
    <span class="motd-list-item-delete" (click)="deleteMotdLite(i)">&#10006;</span>
  </div>
  <div class="">
    <mat-form-field class="motd-line-input">
      <mat-label>New message</mat-label>
      <input name="motd-line" [(ngModel)]="motdLine" matInput type="text">
    </mat-form-field>
    <button mat-flat-button class="float-end" color="primary" (click)="addNewMotdLine()">+</button>
  </div>
</div>
<!--<mat-list class="mtod-list">-->
<!--  <mat-list-item class="motd-list-item" role="listitem" *ngFor="let motdLine of motd">{{motdLine}}</mat-list-item>-->
<!--</mat-list>-->
