<mat-accordion>
  <mat-expansion-panel class="difficulty-panel">
    <mat-expansion-panel-header [ngClass]="difficultyProfile.active ? 'difficulty-active' : ''">
      <mat-panel-title class="editable">
        @if (editingTitle) {
          <input matInput
                 type="text"
                 [(ngModel)]="difficultyProfile.name"
                 (keydown)="onTitleKeyDown($event)"
                  (click)="$event.stopPropagation()">
        } @else {
          <span>{{difficultyProfile.name}}</span>
          <span>
            <mat-icon style="scale: 0.5" [fontIcon]="'edit_square'" (click)="editTitle($event)"></mat-icon>
          </span>
        }
      </mat-panel-title>
      <mat-panel-description>
          <button mat-stroked-button
                  class="active-button"
                  (click)="toggleActive($event)">Active: {{difficultyProfile.active}}</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="difficulty-panel-content">
      <hr>
      <div class="difficulty-panel-content-options">
        <div class="valued-options">
          <mat-form-field>
            <mat-label>Group Indicators</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.groupIndicators">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Limited Distance</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Friendly Tags </mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.friendlyTags">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Limited Distance</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enemy Tags</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.enemyTags">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Limited Distance</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Detected Mines </mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.detectedMines">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Limited Distance</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Commands</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.commands">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Fade out</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Waypoints</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.waypoints">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Fade out</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tactical Ping</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.tacticalPing">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">In 3D Scene</mat-option>
              <mat-option [value]="2">On Map</mat-option>
              <mat-option [value]="3">Both</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Weapon Info</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.weaponInfo">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Fade out</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Stance Indicator</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.stanceIndicator">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Fade out</mat-option>
              <mat-option [value]="2">Always</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Third Person View</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.thirdPersonView">
              <mat-option [value]="0">Never</mat-option>
              <mat-option [value]="1">Enabled</mat-option>
              <mat-option [value]="2">Vehicles Only</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>AI Level Preset</mat-label>
            <mat-select [(ngModel)]="difficultyProfile.options.aiLevelPreset">
              <mat-option [value]="0">Easy</mat-option>
              <mat-option [value]="1">Normal</mat-option>
              <mat-option [value]="2">Hard</mat-option>
              <mat-option [value]="3">Custom</mat-option>
            </mat-select>
          </mat-form-field>
          @if (difficultyProfile.options.aiLevelPreset == 3) {
            <mat-form-field>
              <mat-label>AI Skill</mat-label>
              <input matInput
                     type="text"
                     [(ngModel)]="difficultyProfile.options.skillAI"
                     (keydown)="allowDecimals($event)"
                     [placeholder]="'0.5'">
            </mat-form-field>
            <mat-form-field>
              <mat-label>AI Precision</mat-label>
              <input matInput
                     type="text"
                     [(ngModel)]="difficultyProfile.options.precisionAI"
                     (keydown)="allowDecimals($event)"
                     [placeholder]="'0.5'">
            </mat-form-field>
          }

        </div>
        <div class="toggle-options">
          <mat-checkbox [(ngModel)]="difficultyProfile.options.reducedDamage">Reduced Damage</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.staminaBar">Stamina Bar</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.weaponCrosshair">Weapon Crosshair</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.visionAid">Vision Aid</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.cameraShake">Camera Shake</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.scoreTable">Score Table</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.deathMessages">Death Messages</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.vonId">VON ID</mat-checkbox>

          <mat-checkbox [(ngModel)]="difficultyProfile.options.mapContentFriendly">Friendlies On Map</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.mapContentEnemy">Enemies On Map</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.mapContentMines">Mines On Map</mat-checkbox>

          <mat-checkbox [(ngModel)]="difficultyProfile.options.autoReport">Automatic Reporting</mat-checkbox>
          <mat-checkbox [(ngModel)]="difficultyProfile.options.multipleSaves">Multiple Saves</mat-checkbox>
        </div>
      </div>
      <hr>
      <div class="difficulty-panel-content-buttons">
        <button mat-icon-button (click)="saveDifficulty(difficultyProfile)"><mat-icon [fontIcon]="'save'"></mat-icon></button>
        <button mat-icon-button (click)="deleteDifficulty(difficultyProfile)"><mat-icon [fontIcon]="'delete'"></mat-icon></button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
