.difficulty-panel {
  border-radius: 0 !important;
}

.difficulty-panel-content-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.valued-options {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.toggle-options {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.difficulty-active {
  background-color: var(--aswg-primary-color);
}

.difficulty-active:not(hover) {
  background-color: var(--aswg-primary-color) !important;
}

.active-button {
  border: 1px black solid;
  color: var(--aswg-primary-text-color) !important;
  width: 8rem;
  border-radius: var(--mat-button-outlined-container-shape) !important;
}
