<nav class="navbar navbar-dark aswg-bg-blue">
  <div class="container-mobile-fluid">
    <div class="hamburger-icon">
      @if (!sideMenuExpanded) {
        <mat-icon class="hamburger-icon" (click)="toggleSideMenu()">menu</mat-icon>
      }
      @if (sideMenuExpanded) {
        <mat-icon class="hamburger-icon" (click)="toggleSideMenu()">close</mat-icon>
      }
    </div>
    <a class="navbar-brand" routerLink="/general">ASWG</a>
    <div class="username-container">
      <mat-icon [fontIcon]="'person'"></mat-icon>
      @if (isAuthenticated()) {
        <span class="user-name">{{ getUsername() }}</span>
      }
    </div>
  </div>

  @if (sideMenuExpanded) {
    <div class="mobile-side-menu">
      <app-side-menu
        [isMobile]="true"
        [darkMode]="darkMode"
        (routerLinkClickEmitter)="closeSideMenu()"
        (changeThemeEmit)="changeTheme()"
      ></app-side-menu>
    </div>
  }
</nav>
