.aswg-bg-blue {
  background-color: var(--aswg-primary-color);
}

.container-fluid {
  display: flex;
}

mat-icon {
  color: white;
}

mat-icon:hover {
  cursor: pointer;
}

.container-mobile-fluid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.container-mobile-fluid .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-icon {
  display: grid;
  justify-items: left;
  align-items: center;
  margin-left: 10px;
}

.theme-icon {
  display: grid;
  justify-items: right;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.mobile-side-menu {
  width: 100%;
}
