.difficulty-page-content {
  margin-bottom: 1rem;
}

.difficulty-add-new {
  border-radius: var(--mat-button-outlined-container-shape);
  width: 100%;
}

.difficulty-warning {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 163, 21, 0.3);
  margin-bottom: 1rem;
}

.difficulty-warning-content {
  display: flex;
  align-items: center;
  gap: 10px;
  filter: brightness(90%);
}

.difficulty-warning-icon {
  --mat-icon-color: orange;
}
