<div class="container">
  <h1>Difficulty</h1>
  <div class="difficulty-page-content">
    @for (difficultyProfile of difficultyProfiles; track difficultyProfile.name) {
      <app-difficulty-panel [difficultyProfile]="difficultyProfile"
                            (activated)="onProfileActivate($event)"
                            (saved)="onProfileSave($event)"
                            (deleted)="onProfileDelete($event)"></app-difficulty-panel>
    }
    <div>
      <button class="difficulty-add-new" mat-stroked-button
              color="primary"
              (click)="addNewDifficulty()">
        <mat-icon [fontIcon]="'add_circle'"></mat-icon>
      </button>
    </div>
  </div>
  <div class="button-container">
    <button mat-flat-button color="primary" (click)="saveAll()">Save</button>
  </div>
</div>
