.cdlc-list {
  width: 100%;
}

.cdlc-list-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d333b;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.cdlc-list-item-header {
  font-weight: bold;
}

.cdlc-buttons {

}
