<div class="container">
  <h1>Creator DLCs</h1>
  <div class="cdlc-list">
    @for (cdlc of cdlcList(); track cdlc.id) {
      <div class="cdlc-list-item">
        <span class="cdlc-list-item-header">
          {{ cdlc.name }}
        </span>
        <span class="cdlc-buttons" [matTooltip]="cdlc.fileExists ? undefined : 'CDLC is not installed'">
          <button
            matButton="filled"
            (click)="toggleCdlc(cdlc)"
            [disabled]="!cdlc.fileExists"
            [ngClass]="cdlc.enabled ? 'btn-danger' : ''"
          >{{ cdlc.enabled ? "Disable" : "Enable" }}</button>
        </span>
      </div>
    }
  </div>
</div>
