<div class="container">
  <h1>CDLC</h1>
  <div class="cdlc-list">
    @for (cdlc of cdlcList; track cdlc.id) {
      <div class="cdlc-list-item">
        <span class="cdlc-list-item-header">
          {{ cdlc.name }}
        </span>
        <span class="cdlc-buttons">
          <button
            mat-flat-button
            color="primary"
            (click)="toggleCdlc(cdlc)"
            [disabled]="!cdlc.fileExists"
          >{{ cdlc.enabled ? "Disable" : "Enable" }}</button>
        </span>
      </div>
    }
  </div>
</div>
