@use '@angular/material' as mat;

html[data-theme='light'] {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html[data-theme='dark'] {
  color-scheme: dark;

  @include mat.theme((
    color: (
      primary: mat.$green-palette,
      tertiary: mat.$cyan-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
}
