@use '@angular/material' as mat;
@use './light_theme-colors' as light;
@use './dark_theme-colors' as dark;

html[data-theme='light'] {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary: light.$primary-palette,
      tertiary: light.$tertiary-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html[data-theme='dark'] {
  color-scheme: dark;

  @include mat.theme((
    color: (
      primary: dark.$primary-palette,
      tertiary: dark.$tertiary-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include mat.theme-overrides((
    primary: #46954a,
    surface: #22272e,
    surface-container: #2d333b,
    on-primary: #fff,
    on-surface: #adbac7,
    surface-variant: #2d333b,
    on-surface-variant: #adbac7,
    error: #c0392b,
    on-error: #fff
  ));

  @include mat.checkbox-overrides((
    unselected-icon-color: #444c56,
    unselected-hover-icon-color: #444c56,
    unselected-focus-icon-color: #444c56,
  ));
}

@include mat.button-overrides((
  filled-container-shape: 4px,
  outlined-container-shape: 4px,
  protected-container-shape: 4px,
  text-container-shape: 4px,
  tonal-container-shape: 4px,
));

.btn-danger {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-error),
    filled-label-text-color: var(--mat-sys-on-error),
    filled-ripple-color: var(--mat-sys-on-error)
  ))
}
