// Global static values
$aswg-mobile-breakpoint: 800px;
$aswg-page-padding: 10px;
$aswg-spacing-large: 1.5rem;
$aswg-navbar-padding-y: 0.5rem;
$aswg-navbar-brand-size: 50px;
$aswg-drag-transition-duration: 250ms;
$aswg-drag-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
$aswg-expansion-panel-color: #2d333b;
