.image-wrapper {
  width: 200px;
  height: 200px;
}

.image-wrapper img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mod-list-item-expansion-panel {
  border-radius: 0 !important;
}

.mod-list-item-inner-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mod-list-item-inner-panel-actions {
  display: flex;
  flex: 28%;
  flex-flow: column;
}

.mod-list-item-inner-panel-actions-action {
  flex: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mod-list-item-expansion-panel-header {
  /* To rework as header bg color changes after clicking on different item */
  background-color: var(--aswg-bg-primary-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mod-list-item-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
}
