<mat-accordion>
  <mat-expansion-panel hideToggle class="mod-list-item-expansion-panel">
    <mat-expansion-panel-header>
      {{mod.name}}
    </mat-expansion-panel-header>
    <div class="mod-list-item-inner-panel">
      <div class="image-wrapper">
        <img [src]="mod.previewUrl" alt="No Image">
      </div>
      <div class="mod-list-item-inner-panel-actions">
        <div style="display: flex;">
          <div class="text-center" class="mod-list-item-inner-panel-actions-action">
            <mat-checkbox [checked]="mod.serverMod" (change)="mod.serverMod = !mod.serverMod">Server Mod</mat-checkbox>
          </div>
          <div class="text-center" class="mod-list-item-inner-panel-actions-action">
            <button mat-icon-button (click)="showModDeleteConfirmationDialog(mod.name)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
