.mod-settings-panel {
  border-radius: 0 !important;
}

.mod-settings-active {
  background-color: var(--aswg-primary-color);
}

.mod-settings-active:not(hover) {
  background-color: var(--aswg-primary-color) !important;
}

edit-mod-settings-page-content {
  margin-bottom: 1rem;
}

.edit-mod-settings-add-new {
  border-radius: var(--mat-button-outlined-container-shape);
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.active-button {
  border: 1px black solid;
  color: var(--aswg-primary-text-color) !important;
  width: 8rem;
  border-radius: var(--mat-button-outlined-container-shape) !important;
}

.code {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  display: block;
}

.button-container {
  margin-top: 20px;
}
