.mod-settings-panel. {
  border-radius: 0 !important;
}

.mod-settings-active {
  background-color: var(--aswg-primary-color);
}

.mod-settings-active:not(hover) {
  background-color: var(--aswg-primary-color) !important;
}
