<h1 mat-dialog-title>Enter preset name</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Preset Name</mat-label>
      <input
        formControlName="modPresetName"
        matInput
        type="text"
        (keydown)="onEnterClick($event)"
        />
      @if (hasFormError('modPresetName', 'required')) {
        <mat-error
          >This field is required</mat-error
          >
        }
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Create</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </div>
