<ng-template #modListItemTemplate let-item>
  <app-mod-list-item
    [mod]="item"
    (modDeleted)="onModDelete($event)"
  ></app-mod-list-item>
</ng-template>

<div class="mod-list-group" cdkDropListGroup>
  <app-aswg-drag-and-drop-list
    listId="Disabled"
    [items]="disabledMods()"
    [listItemTemplate]="modListItemTemplate"
    listHeader="Disabled"
    (moveAll)="enableAllMods()"
    (itemDragDrop)="onModItemDragDrop($event)"
    [moveAllButtonName]="'Enable all'"
    [moveAllButtonIcon]="'arrow_forward'"
    [sortEnabled]="true"
    [sortingOptions]="sortingOptions"
    [filterFunction]="modFilterFunction"></app-aswg-drag-and-drop-list>

  <app-aswg-drag-and-drop-list
    listId="Enabled"
    [items]="enabledMods()"
    [listItemTemplate]="modListItemTemplate"
    listHeader="Enabled"
    [sortEnabled]="true"
    [sortingOptions]="sortingOptions"
    (moveAll)="disableAllMods()"
    (itemDragDrop)="onModItemDragDrop($event)"
    [moveAllButtonName]="'Disable all'"
    [moveAllButtonIcon]="'arrow_backward'"
    [filterFunction]="modFilterFunction"></app-aswg-drag-and-drop-list>
</div>

@if (notManagedMods().length > 0) {
  <app-not-managed-mods [mods]="notManagedMods()" (notManagedModsChanged)="reloadMods()"></app-not-managed-mods>
}
