.mod-list-group {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  column-gap: 1rem;
  min-height: 30rem;
}

@media (max-width: 800px) {
  .mod-list-group {
    flex-direction: column;
    margin: auto;
    justify-items: left;
    align-items: center;
    width: 100%;
  }
}
